modules = ["nodejs-24", "python-3.12", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Trading Bot"

[[workflows.workflow]]
name = "Trading Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv run python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[userenv]

[userenv.shared]
GDRIVE_FOLDER_ID = "1DkapUVXvVvWydBCETazrJBOQxK-QutU4"
VAPID_PUBLIC_KEY = "BPP3imuD6A05tv24_Mdrju4_-C2mSXMWO0MdyUaF_kpRiLp4I3Dv_ertO4miqFxjDaeNiAuV3ehHh0DNscvIYCQ"
VAPID_SUBJECT = "mailto:admin@cryptobot.local"

[userenv.development]

[objectStorage]
defaultBucketID = "replit-objstore-b6e24690-1f8c-415c-95bb-3d6e7f90eef0"
